html {
  background-color: #727272;
}

.container {
  box-sizing: border-box;
  padding: 25px;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
	color: white;
}

.table {
  overflow: auto;
  width: 80%;
  max-width: 700px;
  min-width: 300px;
}
